body{
    margin: 0px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    width: 100vw;
    height: 100vh;
}
.header{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
}
.form-container{
    background-color: orange;
}
.book-container{
    background-color: gray;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightblue;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2em;
}
.newbookform input{
    border-radius: 5px;
    border: none;
    height: 2em;
    margin: 2%;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
}
label,.addtitle{
    margin: 2%; 
}
.yesno{
   align-content: center;
}
.yesno label{
    margin: auto;
}
.yesno input{
    height: 1em;
}