body{
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px auto 50px;
    width: 100%;
    height:100%;
}

.header{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
}
.form-container{
    background-color: orange;
    
}
.book-container{
    background-color: gray;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightblue;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2em;
  
}
.newbookform input, button{
    border-radius: 5px;
    border: none;
    height: 2em;
    margin: 2%;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
}
label,.addtitle{
    margin: 2%; 
}
.yesno{
   align-content: center;
}
.yesno label{
    margin: auto;
}
.yesno input{
    height: 1em;
}
#errorMessage{
    font-size: .6em;
    margin: 5px;
    align-self: center;
    color: red;
}
.booklist{
    display: grid;
    margin: 2%;
    position: relative;
    gap: 2%;
    
    grid-template-rows: 380px 380px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;  
}
.book{
    width: 280px;
    height: 350px;
    border-style: solid;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
}

.book-title{
    margin-top: 15px;
    font-size: 1.1em;
    font-weight: bolder;
}
.book div{
    margin-left: 20px;
    margin-right: 20px;
}
#delete{
    font-family:'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: none;
    padding: 0px;
    border-radius: 5px;
}
button{
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
}
button:hover{
background-color: #1C4D90;
}


/* ---credits---- */
.copyrights{
    align-items: center;
    justify-content: center;
    display: flex;  
    position: relative;
    color: #BCC7CD;
}
.copyrights > div {
    
    margin: 5px;
    font-size: 15px;
    
}
.githubicon {
    transition: transform .25s; /* Animation */
    margin: 0 auto;
  }
  
  .githubicon:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
footer{
    grid-column-start: 1;
    grid-column-end:3;
    background-color: #1C4D90;
}